/*Oh boy CSS!*/
* {
	font-family: Verdana, Geneva, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-size: 5em;
}
p {
	width: 70%
}

a {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 3em;
	color: green;
}

li {
	font-family: Helvetica;
	font-size: 1.5em;
}

ol {
	align-items: left;
}

title {
	display: none;
}